* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #f3fafd;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  font-family: inherit;
  cursor: pointer;
  color: #f3fafd;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #f3fafd;
  transition: all 0.5s ease;
}

.sound-picker button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
  transition: all .3s ease;
}
.sound-picker button:hover {
	transform: scale(1.1);
	opacity: .9;
}
.sound-picker button:nth-child(1) {
  background: #87ceeb;
}
.sound-picker button:nth-child(2) {
  background: #f06292;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: #f3fafd;
  color: #333;
}

button:focus,
button:active {
	outline: none;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none; /*to make the play button clickable*/
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.play {
	cursor: pointer;
	opacity: 1;
	transition: all .3s ease;
}
.play:hover {
	opacity: .9;
	transform: scale(1.05);
}
.time-display {
  color: #f3fafd;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}







@media screen and (max-width: 1100px) {
	.app {
		flex-direction: column;
	  background: #c9e9f6;
	}
	.time-select button{
		width: 28%;
		font-size: 20px;
		height: inherit;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	.time-select,
	.sound-picker {
		height: 30%;
		width: 80%;
		flex-direction: row;
		justify-content: space-evenly;
		position: relative;
	}
	.time-select {
		justify-content: space-between;
	}
	.player-container {
		width: 80%;
	}
	.player-container svg {
		top: 40%;
	}
	.play {
		width: 12%;
		position: absolute;
    	top: 33%;
    	top: 30%;
    	left: 45%;
	}
	.time-display {
		font-size: 50px;
	}

	.video-container {
		position: fixed;
	    height: 100%;
	    width: 100%;
	}
	video {
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width: 600px) {
	.time-select button {
		font-size: 14px;
		
	}
	.time-display {
		font-size: 35px;
	}
	.play {
		width: 12%;
		position: absolute;
    	top: 33%;
	}



}
